body {
  background-color: #000000;
  background: repeating-linear-gradient(45deg, #000000 0%, #2b2b2b 10%, #000000 0%, #000000 50%) 0 / 15px 15px;
}
textarea{
border-radius: 5px;
background-color: 	#F0F8FF;
max-width: 800px; min-width: 800px; min-height: 200px; max-height: 200px; text-align: center;
}
#container {
  width: 500px;
  margin: auto;
}

